.dark {
  --md-sys-color-primary: rgb(198 198 199);
  --md-sys-color-surface-tint: rgb(198 198 199);
  --md-sys-color-on-primary: rgb(47 49 50);
  --md-sys-color-primary-container: rgb(17 19 20);
  --md-sys-color-on-primary-container: rgb(159 160 161);
  --md-sys-color-secondary: rgb(199 197 210);
  --md-sys-color-on-secondary: rgb(47 48 57);
  --md-sys-color-secondary-container: rgb(42 42 52);
  --md-sys-color-on-secondary-container: rgb(183 182 194);
  --md-sys-color-tertiary: rgb(135 208 245);
  --md-sys-color-on-tertiary: rgb(0 53 72);
  --md-sys-color-tertiary-container: rgb(0 91 121);
  --md-sys-color-on-tertiary-container: rgb(241 249 255);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(20 19 19);
  --md-sys-color-on-background: rgb(229 226 225);
  --md-sys-color-surface: rgb(20 19 19);
  --md-sys-color-on-surface: rgb(229 226 225);
  --md-sys-color-surface-variant: rgb(68 71 73);
  --md-sys-color-on-surface-variant: rgb(196 199 201);
  --md-sys-color-outline: rgb(142 145 147);
  --md-sys-color-outline-variant: rgb(68 71 73);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(229 226 225);
  --md-sys-color-inverse-on-surface: rgb(49 48 48);
  --md-sys-color-inverse-primary: rgb(93 94 96);
  --md-sys-color-primary-fixed: rgb(226 226 227);
  --md-sys-color-on-primary-fixed: rgb(26 28 29);
  --md-sys-color-primary-fixed-dim: rgb(198 198 199);
  --md-sys-color-on-primary-fixed-variant: rgb(69 71 72);
  --md-sys-color-secondary-fixed: rgb(227 225 238);
  --md-sys-color-on-secondary-fixed: rgb(26 27 36);
  --md-sys-color-secondary-fixed-dim: rgb(199 197 210);
  --md-sys-color-on-secondary-fixed-variant: rgb(70 70 80);
  --md-sys-color-tertiary-fixed: rgb(193 232 255);
  --md-sys-color-on-tertiary-fixed: rgb(0 30 43);
  --md-sys-color-tertiary-fixed-dim: rgb(135 208 245);
  --md-sys-color-on-tertiary-fixed-variant: rgb(0 77 102);
  --md-sys-color-surface-dim: rgb(20 19 19);
  --md-sys-color-surface-bright: rgb(58 57 57);
  --md-sys-color-surface-container-lowest: rgb(14 14 14);
  --md-sys-color-surface-container-low: rgb(28 27 27);
  --md-sys-color-surface-container: rgb(32 31 31);
  --md-sys-color-surface-container-high: rgb(42 42 42);
  --md-sys-color-surface-container-highest: rgb(53 52 52);
}
