.light {
  --md-sys-color-primary: rgb(24 26 27);
  --md-sys-color-surface-tint: rgb(94 94 96);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(56 57 59);
  --md-sys-color-on-primary-container: rgb(203 202 205);
  --md-sys-color-secondary: rgb(51 51 61);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(85 85 96);
  --md-sys-color-on-secondary-container: rgb(253 250 255);
  --md-sys-color-tertiary: rgb(0 102 135);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(72 201 254);
  --md-sys-color-on-tertiary-container: rgb(0 51 69);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(65 0 2);
  --md-sys-color-background: rgb(252 248 248);
  --md-sys-color-on-background: rgb(28 27 27);
  --md-sys-color-surface: rgb(252 248 248);
  --md-sys-color-on-surface: rgb(28 27 27);
  --md-sys-color-surface-variant: rgb(226 226 230);
  --md-sys-color-on-surface-variant: rgb(69 71 74);
  --md-sys-color-outline: rgb(118 119 122);
  --md-sys-color-outline-variant: rgb(198 198 202);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(49 48 48);
  --md-sys-color-inverse-on-surface: rgb(244 240 239);
  --md-sys-color-inverse-primary: rgb(199 198 200);
  --md-sys-color-primary-fixed: rgb(227 226 228);
  --md-sys-color-on-primary-fixed: rgb(26 28 29);
  --md-sys-color-primary-fixed-dim: rgb(199 198 200);
  --md-sys-color-on-primary-fixed-variant: rgb(70 71 73);
  --md-sys-color-secondary-fixed: rgb(227 225 239);
  --md-sys-color-on-secondary-fixed: rgb(26 27 36);
  --md-sys-color-secondary-fixed-dim: rgb(199 197 210);
  --md-sys-color-on-secondary-fixed-variant: rgb(70 70 81);
  --md-sys-color-tertiary-fixed: rgb(193 232 255);
  --md-sys-color-on-tertiary-fixed: rgb(0 30 43);
  --md-sys-color-tertiary-fixed-dim: rgb(114 210 255);
  --md-sys-color-on-tertiary-fixed-variant: rgb(0 77 102);
  --md-sys-color-surface-dim: rgb(221 217 217);
  --md-sys-color-surface-bright: rgb(252 248 248);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(247 243 242);
  --md-sys-color-surface-container: rgb(241 237 236);
  --md-sys-color-surface-container-high: rgb(235 231 231);
  --md-sys-color-surface-container-highest: rgb(229 226 225);
}
