body {
  font-variation-settings: 'FILL' 1;

  /* meterial theme color */
  --md-sys-color-primary: var(--primary-color);
  --md-sys-color-secondary: var(--secondary-color);

  --md-sys-shape-corner-small: 4px;
  --md-sys-shape-corner-medium: 6px;
  --md-sys-shape-corner-large: 8px;

  --md-assist-chip-container-shape: 4px;
  --md-filter-chip-container-shape: 9999px;

  --md-outlined-button-container-shape: var(--md-sys-shape-corner-small);
  --md-elevated-button-container-shape: var(--md-sys-shape-corner-small);
  --md-filled-button-container-shape: var(--md-sys-shape-corner-small);
}
